

//UI MIXIN
=ui-colors($ui-color)

  // BACKGROUND
  #slider, button, footer, header, .navigation-content, .section-name:after, .tag, .loader
    background: $ui-color

  .tag:after
    border-color: transparent transparent transparent $ui-color

  // TITLES
  .text-title, .section-cv h2, .modal h2, .text-readme
    color: $ui-color

  // BACKGROUND DARKEN
  .section-menu nav ul li.active
    background: darken($ui-color, 4%)
  .portfolio, .social-net ul li a, .menu-mobile li a, .section-portfolio
    background: darken($ui-color, 4%)


  .portfolio
    .overflow-gradient
      -webkit-box-shadow: 0px -10px 45px 30px darken($ui-color, 4%)
      -moz-box-shadow: 0px -10px 45px 30px darken($ui-color, 4%)
      box-shadow: 0px -10px 45px 30px darken($ui-color, 4%)

  +desktop
    .next:hover, .prev:hover
      background: darken($ui-color, 4%)
  .social-net ul li a:hover, button:hover, .portfolio:hover
    background: darken($ui-color, 6%)
  .contact
    background: lighten($ui-color, 3%)
    .overflow-gradient
      -webkit-box-shadow: 0px -10px 45px 30px lighten($ui-color, 3%)
      -moz-box-shadow: 0px -10px 45px 30px lighten($ui-color, 3%)
      box-shadow: 0px -10px 45px 30px lighten($ui-color, 3%)
  .swap-paper:before
    border-color: lighten($ui-color, 10%) transparent transparent transparent


// MIXINS

//MEDIA QUERIES MIXIN
$tablet-width: 768px
$desktop-width: 1024px
=tablet
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
    @content
=desktop
  @media (min-width: #{$desktop-width})
    @content

// APPEAREANCE
=appearance-none
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none
  -o-appearance: none
  appearance: none

// ANIMATION MIXIN
=animation-attr
  -webkit-animation-timing-function: linear
  animation-timing-function: linear
  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  -o-animation-fill-mode: forwards
  -ms-animation-fill-mode: forwards
  animation-fill-mode: forwards
  transform-origin: center
  -webkit-transition-timing-function: ease-in-out
  -moz-transition-timing-function: ease-in-out
  -ms-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out
  transition-timing-function: ease-in-out
=animation-attr-infinite
  -webkit-animation-fill-mode: both
  -moz-animation-fill-mode: both
  -o-animation-fill-mode: both
  -ms-animation-fill-mode: both
  animation-fill-mode: both
  -webkit-animation-iteration-count: infinite
  -moz-animation-iteration-count: infinite
  -o-animation-iteration-count: infinite
  -ms-animation-iteration-count: infinite
  animation-iteration-count: infinite

=keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content
  @-moz-keyframes #{$animation-name}
    @content
  @-ms-keyframes #{$animation-name}
    @content
  @-o-keyframes #{$animation-name}
    @content
  @keyframes #{$animation-name}
    @content

=animation($str)
  -webkit-animation: #{$str}
  -moz-animation: #{$str}
  -ms-animation: #{$str}
  -o-animation: #{$str}
  animation: #{$str}

// VARIABLES
$color-intro: #5C676E
$color-ui: #6B8D61
$color-ux: #BEA56E
$color-illus: #CF8B9E
$color-teach: #E2854A
$color-front: #358D89
$color-music: #666666
