!!! 5
%html
  %head
    %title Mercado Pago - Selectbox
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %meta{ :charset => "UTF-8" }
    %script{:src => "js/jquery-latest.min.js"}
    %script{:src => "js/interaction.js"}

  %body
    .mp-app-wrapper
      .mp-nav
      .mp-main
        .filters-bar-wrapper
          .filters-bar
            .filters-bar__dd-container

              .filters-bar__col
                .ui-dropdown
                  %button.dd-button
                    %span.dd-button__text#operaciones
                      Operaciones

                  .ui-dropdown__content
                    .ui-list.ui-dropdown__options-list
                      .ui-list__group
                        %span.ui-list__group-title
                          Operaciones

                        %ul.ui-list__content
                          %li.ui-list__item{"data-trigger" => "#operaciones"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Cobros

                          %li.ui-list__item{"data-trigger" => "#operaciones"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Solicitudes de dinero
                          %li.ui-list__item{"data-trigger" => "#operaciones"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Retiros de dinero

                          %li.ui-list__item{"data-trigger" => "#operaciones"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Pagos

                          %li.ui-list__item{"data-trigger" => "#operaciones"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Ingresos de dinero

                          %li.ui-list__item{"data-trigger" => "#operaciones"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Todas

              .filters-bar__col
                .ui-dropdown
                  %button.dd-button
                    %span.dd-button__text#estados
                      Estados

                  .ui-dropdown__content
                    .ui-list.ui-dropdown__options-list
                      .ui-list__group
                        %span.ui-list__group-title
                          Estados

                        %ul.ui-list__content
                          %li.ui-list__item{"data-trigger" => "#estados"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Acreditados

                          %li.ui-list__item{"data-trigger" => "#estados"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Pendientes
                          %li.ui-list__item{"data-trigger" => "#estados"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                En proceso

                          %li.ui-list__item{"data-trigger" => "#estados"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Rechazados

                          %li.ui-list__item{"data-trigger" => "#estados"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Cancelados

                          %li.ui-list__item{"data-trigger" => "#estados"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Devueltos

                          %li.ui-list__item__more-options
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Con contracargos
                            .ui-dropdown__content__indented-options
                              %ul.ui-list__content__indented-options
                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      En proceso
                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      Cerrados
                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      Todos

                          %li.ui-list__item__more-options
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Con reclamos
                            .ui-dropdown__content__indented-options
                              %ul.ui-list__content__indented-options

                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      Por responder
                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      Esperando respuesta
                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      En mediación por responder
                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      En mediación esperando respuesta
                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      Resueltos
                                %li.ui-list__item{"data-trigger" => "#estados"}
                                  %a.ui-list__item-option
                                    %span.ui-list__item-text
                                      Todos

                          %li.ui-list__item{"data-trigger" => "#estados"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Todos los estados

              .filters-bar__col
                .ui-dropdown
                  %button.dd-button
                    %span.dd-button__text#envios
                      Envíos

                  .ui-dropdown__content
                    .ui-list.ui-dropdown__options-list
                      .ui-list__group
                        %span.ui-list__group-title
                          Mercado Envíos

                        %ul.ui-list__content
                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Etiqueta lista para imprimir

                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                En preparación
                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                En camino

                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Entregados

                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                No entregados

                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Todos

                      .ui-list__group.second
                        %span.ui-list__group-title
                          Mercado Envíos

                        %ul.ui-list__content
                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Etiqueta lista para imprimir

                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                En preparación
                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                En camino

                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Entregados

                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                No entregados

                          %li.ui-list__item{"data-trigger" => "#envios"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Todos

              .filters-bar__col
                .ui-dropdown
                  %button.dd-button
                    %span.dd-button__text#canales
                      Canales de venta
                  .ui-dropdown__content#canales
                    .ui-list.ui-dropdown__options-list
                      .ui-list__group
                        %span.ui-list__group-title
                          Canales de venta

                        %ul.ui-list__content
                          %li.ui-list__item{"data-trigger" => "#canales"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Cobros

                          %li.ui-list__item{"data-trigger" => "#canales"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Solicitudes de dinero
                          %li.ui-list__item{"data-trigger" => "#canales"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Retiros de dinero

                          %li.ui-list__item{"data-trigger" => "#canales"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Pagos

                          %li.ui-list__item{"data-trigger" => "#canales"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Ingresos de dinero

                          %li.ui-list__item{"data-trigger" => "#canales"}
                            %a.ui-list__item-option
                              %span.ui-list__item-text
                                Todas
